aside {
	border-right: 1px solid #e4e4e4;
	height: 100%;
	position: fixed;
	width: 20rem;
	z-index: 10;
}

.create-post {
	background-color: #eaeaea;
	height: 100%;
	padding: 1rem;
}

main {
	margin-left: 20rem;
}

.card {
	box-shadow: 0 10px 20px rgba(0,0,0,0.15);
	max-width: 50rem;
}

.card-vote {
	color: white !important;
	font-size: 1.2rem;
	font-weight: bold;
}

.card-header {
	margin: -1.25rem -1.25rem 0 -1.25rem;
}

.card-text {
	margin: 1.5rem 0;
	font-size: 1.25rem;
}